<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="board">

	<insert id="insertBoard" parameterType="b">
		insert into board values(board_seq.nextval,
								#{boardTitle},
								#{boardWriter},
								#{boardContent},
								to_char(sysdate,'yyyy-mm-dd'))
	</insert>
	
	<select id="selectBoardNo" resultType="int">
		select max(board_no) from board
	</select>
	
	<insert id="insertFile" parameterType="f">
		insert into file_tbl values(file_seq.nextval,
									#{fileName},
									#{filePath},
									#{boardNo})
	</insert>
	
	<select id="selectAllBoard" resultType="b">
		select 
			board_no as boardNo,
			board_title as boardTitle,
			board_writer as boardWriter,
			board_content as boardContent,
			board_date as boardDate
		from board
	</select>
</mapper>























