<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="dm">

	<select id="selectDm" parameterType="m" resultType="d">
		select
			dm_no as dmNo,
			sender,
			receiver,
			dm_content as dmContent,
			dm_time as dmTime,
			status
		from DIRECT_MESSAGE where SENDER=#{memberId}
	</select>
	
	<insert id="insertDm" parameterType="d">
	insert into DIRECT_MESSAGE values(
		dm_seq.nextval,
		#{sender},
		#{receiver},
		#{dmContent},
		sysdate,
		'N')
	</insert>
</mapper>
