<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee https://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>/WEB-INF/spring/root-context.xml</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>appServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>/WEB-INF/spring/appServlet/servlet-context.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>appServlet</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Dependency</display-name>
    <servlet-name>Dependency</servlet-name>
    <servlet-class>kr.or.tv.controller.DependencyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Dependency</servlet-name>
    <url-pattern>/dependency</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Dependency2</display-name>
    <servlet-name>Dependency2</servlet-name>
    <servlet-class>kr.or.tv.controller.Dependency2Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Dependency2</servlet-name>
    <url-pattern>/dependency2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BeanTest1</display-name>
    <servlet-name>BeanTest1</servlet-name>
    <servlet-class>kr.or.tv.controller.BeanTest1Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BeanTest1</servlet-name>
    <url-pattern>/beanTest1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BeanTest2</display-name>
    <servlet-name>BeanTest2</servlet-name>
    <servlet-class>kr.or.member.BeanTest2Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BeanTest2</servlet-name>
    <url-pattern>/beanTest2</url-pattern>
  </servlet-mapping>
</web-app>